Imports

In [0]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Mount Drive

In [0]:
#from google.colab import drive
#drive.mount('/content/drive')

Load datasets

In [0]:
#df = pd.read_csv("../UmojaLambda/Train.csv") # Loading in the data and store in df
train_df = pd.read_csv("Train.csv", encoding="UTF-8")
product_categories_df = pd.read_csv("PID_Categories.csv")

## Basic Analysis

Preview datasets

In [5]:
#Preview of dataset
print('Df head: ')
train_df.head(20)

Df head:

                       date           acc   PID
0   2019-12-13 11:38:33.226  256787571627  80G0
1   2019-11-12 11:46:23.755  256789598703  WLIW
2   2019-11-10 06:12:27.728  256753510223  U1DD
3   2019-12-20 13:34:17.453  256702652564  T0LZ
4   2019-11-15 09:16:06.591  256704005298  80G0
5   2019-12-18 05:59:49.969  256701433663  U1DD
6   2019-11-29 16:32:58.839  256785958670  U1DD
7   2019-12-20 17:25:22.485  256700671048  6Q4Z
8   2019-12-30 14:10:49.665  256704708797  WLIW
9   2019-12-06 04:49:09.912  256774747834  WLIW
10  2019-12-15 14:55:10.051  256751695837  WLIW
11  2019-12-21 13:01:38.726  256773741426  U1DD
12  2019-11-13 16:31:30.736  256773668705  WLIW
13  2019-12-05 13:33:09.938  256772196995  5YR6
14  2019-12-25 09:16:45.592  256701433663  WLIW
15  2019-12-09 07:07:20.708  256789155505  WLIW
16  2019-12-27 03:29:02.041  256774568597  U1DD
17  2019-11-19 11:41:18.459  256751184775  T0LZ
18  2019-12-18 19:07:05.437  256704903268  WLIW
19  2019-11-04 10:48:10.243  256701972279  P7R7

In [6]:
# Have a preview of PID categories
print("Product Length", len(product_categories_df))
print('PID categories head: ')
product_categories_df.head()

Product Length 35
PID categories head:

    PID      Category
0  BN7D      CASHBACK
1  80G0  AIRTIME_DATA
2  WLIW  AIRTIME_DATA
3  U1DD  MOBILE_MONEY
4  T0LZ  AIRTIME_DATA

In [7]:
train_df.describe()

                acc
count  6.651400e+04
mean   2.567349e+11
std    1.283652e+08
min    2.335725e+11
25%    2.567031e+11
50%    2.567578e+11
75%    2.567790e+11
max    2.567975e+11

# Exploratory Data Analysis

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66514 entries, 0 to 66513
Data columns (total 3 columns):
date    66514 non-null object
acc     66514 non-null int64
PID     66514 non-null object
dtypes: int64(1), object(2)
memory usage: 1.5+ MB

In [9]:
##convert date to pandas datetime object
train_df['date'] = pd.to_datetime(train_df['date'])
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66514 entries, 0 to 66513
Data columns (total 3 columns):
date    66514 non-null datetime64[ns]
acc     66514 non-null int64
PID     66514 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.5+ MB

In [10]:
## Product Categories
product_categories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
PID         35 non-null object
Category    35 non-null object
dtypes: object(2)
memory usage: 688.0+ bytes

# Data Preprosessing

In [11]:
## Get unique customers
unique_acc = train_df.acc.unique()
len(unique_acc)

2594

In [12]:
## Min Date
print('Min Date', train_df.date.min())

## Max Date
print('max date', train_df.date.max())

Min Date 2019-11-01 00:38:59.418000
max date 2020-02-22 22:32:54.348000

Feature engineering

# Feature Engineering

In [13]:
##Split data into test train
local_train = train_df.loc[train_df.date <= '2020-01-31'].reset_index()
local_test = train_df.loc[train_df.date > '2020-01-31'].reset_index()

print('Local train min date', local_train.date.min())
print('Local train max date', local_train.date.max())

print('Local train length', len(local_train))

print('Local test min date', local_test.date.min())
print('Local test max date', local_test.date.max())

print('Local test length', len(local_test))

Local train min date 2019-11-01 00:38:59.418000
Local train max date 2020-01-30 23:44:24.296000
Local train length 53898
Local test min date 2020-01-31 00:00:59.730000
Local test max date 2020-02-22 22:32:54.348000
Local test length 12616

In [14]:
local_train.tail(10)

       index                    date           acc   PID
53888  53888 2020-01-30 22:12:38.866  256772541327  WLIW
53889  53889 2020-01-30 22:19:24.658  256788726260  DJGS
53890  53890 2020-01-30 22:22:12.058  256773273230  U1DD
53891  53891 2020-01-30 22:32:54.178  256773273230  DJGS
53892  53892 2020-01-30 22:49:37.951  256770718316  WLIW
53893  53893 2020-01-30 23:24:07.732  256788616611  DJGS
53894  53894 2020-01-30 23:32:55.658  256771410326  5YR6
53895  53895 2020-01-30 23:36:38.103  256773383412  WLIW
53896  53896 2020-01-30 23:38:52.252  256000000000  U1DD
53897  53897 2020-01-30 23:44:24.296  256771410326  80G0

In [0]:
##merge dataset

In [0]:
from sklearn.preprocessing import LabelEncoder

In [16]:
label_encoder = LabelEncoder()
product_categories_df.Category = label_encoder.fit_transform(product_categories_df.Category)
product_categories_df.head()

    PID  Category
0  BN7D         2
1  80G0         1
2  WLIW         1
3  U1DD         4
4  T0LZ         1

In [17]:
product_categories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
PID         35 non-null object
Category    35 non-null int64
dtypes: int64(1), object(1)
memory usage: 688.0+ bytes

In [18]:
product_categories_df.PID.unique().shape

(35,)

In [19]:
##Merge datasets
train_df_merged = pd.merge(local_train,product_categories_df, on='PID')
train_df_merged.head()

   index                    date           acc   PID  Category
0      0 2019-12-13 11:38:33.226  256787571627  80G0         1
1      4 2019-11-15 09:16:06.591  256704005298  80G0         1
2     21 2019-11-19 19:51:59.545  256701950144  80G0         1
3     25 2019-12-12 11:41:13.059  256702173540  80G0         1
4     26 2019-12-27 18:17:24.438  256779600475  80G0         1

In [20]:
train_date = pd.date_range('2019-11-01','2020-01-30', freq='D')
train_submission_df = pd.DataFrame({'datetime':train_date})
unique_accounts = train_df.acc.unique()


for ac in unique_accounts:
    #train_submission_df[str(ac)] = 0
    transactions = train_df.loc[train_df['acc'] == ac]
    dts = transactions['date'].dt.round('D')
    dates = dts.astype(str).unique()
    train_submission_df.loc[train_submission_df['datetime'].isin(dates), ac] = 1
    
train_submission_df.fillna(0, inplace=True)
train_submission_df.head(10)

    datetime  256787571627  ...  256771413563  256705146872
0 2019-11-01           0.0  ...           0.0           0.0
1 2019-11-02           0.0  ...           0.0           0.0
2 2019-11-03           0.0  ...           0.0           0.0
3 2019-11-04           0.0  ...           0.0           0.0
4 2019-11-05           0.0  ...           0.0           0.0
5 2019-11-06           0.0  ...           0.0           0.0
6 2019-11-07           0.0  ...           0.0           0.0
7 2019-11-08           0.0  ...           0.0           0.0
8 2019-11-09           0.0  ...           0.0           0.0
9 2019-11-10           0.0  ...           0.0           0.0

[10 rows x 2595 columns]

In [21]:
len(train_submission_df[unique_accounts].values.flatten())

236054

In [22]:
# Reshape this as in sample submission
# I add some extra columns that may be useful

unique_pids = product_categories_df.PID.unique()
train_new = pd.DataFrame({
    'Account X date X PID':np.concatenate([[str(acc) + " X " + str(date).split(" ")[0] + " X " + str(pid) 
                                             for pid in unique_pids 
                                            for date in train_submission_df['datetime']
                                           for acc in unique_accounts]]),
})
train_new.head()

               Account X date X PID
0  256787571627 X 2019-11-01 X BN7D
1  256789598703 X 2019-11-01 X BN7D
2  256753510223 X 2019-11-01 X BN7D
3  256702652564 X 2019-11-01 X BN7D
4  256704005298 X 2019-11-01 X BN7D

In [23]:
len(train_new)

8261890

In [24]:
customers = [str(acc) for pid in unique_pids for d in train_submission_df['datetime'] for acc in unique_accounts]
len(customers)

8261890

In [25]:
dates = [str(d) for pid in unique_pids for d in train_submission_df['datetime'] for acc in unique_accounts]
len(dates)

8261890

In [26]:
pids = [str(pid) for pid in unique_pids for d in train_submission_df['datetime'] for acc in unique_accounts]
len(pids)

8261890

In [0]:
target = train_submission_df[unique_accounts].values.flatten()
len(target)

test = np.random.randn(40,40,3)
result = np.repeat(target[np.newaxis,...], 35, axis=0)

In [28]:
pred = result.flatten()
pred.shape

(8261890,)

In [29]:
train_new['acc_id'] = customers
train_new['date'] = dates
train_new['pid'] = pids
#target_default = result.flatten()
train_new['target'] = pred

train_new['date'] = pd.to_datetime(train_new['date'])
train_new['date'] = train_new.date.dt.round('D')
train_new["target"] = train_new["target"].apply(lambda x: int(x))
train_new.head(25)

                Account X date X PID        acc_id       date   pid  target
0   256787571627 X 2019-11-01 X BN7D  256787571627 2019-11-01  BN7D       0
1   256789598703 X 2019-11-01 X BN7D  256789598703 2019-11-01  BN7D       0
2   256753510223 X 2019-11-01 X BN7D  256753510223 2019-11-01  BN7D       1
3   256702652564 X 2019-11-01 X BN7D  256702652564 2019-11-01  BN7D       0
4   256704005298 X 2019-11-01 X BN7D  256704005298 2019-11-01  BN7D       0
5   256701433663 X 2019-11-01 X BN7D  256701433663 2019-11-01  BN7D       0
6   256785958670 X 2019-11-01 X BN7D  256785958670 2019-11-01  BN7D       0
7   256700671048 X 2019-11-01 X BN7D  256700671048 2019-11-01  BN7D       0
8   256704708797 X 2019-11-01 X BN7D  256704708797 2019-11-01  BN7D       1
9   256774747834 X 2019-11-01 X BN7D  256774747834 2019-11-01  BN7D       1
10  256751695837 X 2019-11-01 X BN7D  256751695837 2019-11-01  BN7D       1
11  256773741426 X 2019-11-01 X BN7D  256773741426 2019-11-01  BN7D       0
12  256773668705 X 2019-11-01 X BN7D  256773668705 2019-11-01  BN7D       1
13  256772196995 X 2019-11-01 X BN7D  256772196995 2019-11-01  BN7D       0
14  256789155505 X 2019-11-01 X BN7D  256789155505 2019-11-01  BN7D       0
15  256774568597 X 2019-11-01 X BN7D  256774568597 2019-11-01  BN7D       0
16  256751184775 X 2019-11-01 X BN7D  256751184775 2019-11-01  BN7D       0
17  256704903268 X 2019-11-01 X BN7D  256704903268 2019-11-01  BN7D       0
18  256701972279 X 2019-11-01 X BN7D  256701972279 2019-11-01  BN7D       0
19  256701950144 X 2019-11-01 X BN7D  256701950144 2019-11-01  BN7D       0
20  256783473203 X 2019-11-01 X BN7D  256783473203 2019-11-01  BN7D       1
21  256770758724 X 2019-11-01 X BN7D  256770758724 2019-11-01  BN7D       0
22  256756400821 X 2019-11-01 X BN7D  256756400821 2019-11-01  BN7D       1
23  256702173540 X 2019-11-01 X BN7D  256702173540 2019-11-01  BN7D       0
24  256779600475 X 2019-11-01 X BN7D  256779600475 2019-11-01  BN7D       1

In [30]:
train_new['date'] = pd.to_datetime(train_new['date'])
train_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8261890 entries, 0 to 8261889
Data columns (total 5 columns):
Account X date X PID    object
acc_id                  object
date                    datetime64[ns]
pid                     object
target                  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 315.2+ MB

In [31]:
train_new.head()

               Account X date X PID        acc_id       date   pid  target
0  256787571627 X 2019-11-01 X BN7D  256787571627 2019-11-01  BN7D       0
1  256789598703 X 2019-11-01 X BN7D  256789598703 2019-11-01  BN7D       0
2  256753510223 X 2019-11-01 X BN7D  256753510223 2019-11-01  BN7D       1
3  256702652564 X 2019-11-01 X BN7D  256702652564 2019-11-01  BN7D       0
4  256704005298 X 2019-11-01 X BN7D  256704005298 2019-11-01  BN7D       0

In [32]:
'''
for index, row in train_new.iterrows():
  
  model_customers = row['acc_id']
  model_prods = row['pid']
  date = row['date']

  original_tx = train_df_merged.loc[train_df_merged['date'] == date]
  customer_orig = original_tx['acc']
  prod_purchased_orig = original_tx['PID']

  if model_customers in customer_orig:
    if model_prods in prod_purchased_orig:
      train_new.ix[index,'target']=1
'''

"\nfor index, row in train_new.iterrows():\n  \n  model_customers = row['acc_id']\n  model_prods = row['pid']\n  date = row['date']\n\n  original_tx = train_df_merged.loc[train_df_merged['date'] == date]\n  customer_orig = original_tx['acc']\n  prod_purchased_orig = original_tx['PID']\n\n  if model_customers in customer_orig:\n    if model_prods in prod_purchased_orig:\n      train_new.ix[index,'target']=1\n"

In [0]:

y = train_new.iloc[:, -1]
X = train_new.iloc[:,1:-1]
#from sklearn.ensemble import RandomForestClassifier
#clf = RandomForestClassifier(max_depth=2, random_state=0)
#clf.fit(X, y)

In [34]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/94/ec/12b9a42b2ea7dfe5b602f235692ab2b61ee1334ff34334a15902272869e8/catboost-0.22-cp36-none-manylinux1_x86_64.whl (64.4MB)
     |████████████████████████████████| 64.4MB 73kB/s
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.25.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (46.0.0)
Installing collected packages: catboost
Successfully installed catboost-0.22

In [35]:
from catboost import CatBoostClassifier

# Create the model
model = CatBoostClassifier(iterations=20, 
                           loss_function='Logloss', 
                           verbose=False) 

cat_cols = ['pid', 'acc_id']

model.fit(X, y, cat_features=cat_cols) # Takes about

# mODEL EVALUATION

In [36]:
from sklearn.metrics import log_loss
log_loss(y, model.predict_proba(X)[:, 1])

0.210973687594889

In [37]:
log_loss(y, [0 for y in y]) #yes!

2.7358402782076903

In [0]:
# Make the dataframe - dates based on sample submission file
dts = pd.date_range('2020-02-23',
                    '2020-02-29',
                    freq="D")
tr = pd.DataFrame({'datetime':dts})

In [47]:
unique_accounts = train_df.acc.unique()


for ac in unique_accounts:
    tr[str(ac)] = 0
tr.head()

    datetime  256787571627  ...  256771413563  256705146872
0 2020-02-23             0  ...             0             0
1 2020-02-24             0  ...             0             0
2 2020-02-25             0  ...             0             0
3 2020-02-26             0  ...             0             0
4 2020-02-27             0  ...             0             0

[5 rows x 2595 columns]

In [48]:
tr['datetime'] = pd.to_datetime(tr['datetime']).dt.round('D')
#tr['datetime'] = tr['datetime'].dt.round('D')

unique_pids = product_categories_df.PID.unique()
test_new = pd.DataFrame({
    'Account X date X PID':np.concatenate([[str(acc) + " X " + str(date).split(" ")[0] + " X " + str(pid) 
                                             for pid in unique_pids 
                                            for date in tr['datetime']
                                           for acc in unique_accounts]]),
})
test_new.head()

               Account X date X PID
0  256787571627 X 2020-02-23 X BN7D
1  256789598703 X 2020-02-23 X BN7D
2  256753510223 X 2020-02-23 X BN7D
3  256702652564 X 2020-02-23 X BN7D
4  256704005298 X 2020-02-23 X BN7D

In [49]:
customers = [str(acc) for pid in unique_pids for d in tr['datetime'] for acc in unique_accounts]
dates = [str(d) for pid in unique_pids for d in tr['datetime'] for acc in unique_accounts]
pids = [str(pid) for pid in unique_pids for d in tr['datetime'] for acc in unique_accounts]

test_new['acc_id'] = customers
test_new['date'] = dates
test_new['pid'] = pids
test_new['date'] = pd.to_datetime(test_new['date']).dt.round('D')

test_new.head()

               Account X date X PID        acc_id       date   pid
0  256787571627 X 2020-02-23 X BN7D  256787571627 2020-02-23  BN7D
1  256789598703 X 2020-02-23 X BN7D  256789598703 2020-02-23  BN7D
2  256753510223 X 2020-02-23 X BN7D  256753510223 2020-02-23  BN7D
3  256702652564 X 2020-02-23 X BN7D  256702652564 2020-02-23  BN7D
4  256704005298 X 2020-02-23 X BN7D  256704005298 2020-02-23  BN7D

In [0]:
X_tes = test_new.iloc[:,1:]

test_new['Prediction'] = 0

test_new['Prediction'] = model.predict_proba(X_tes)[:, 1]

In [51]:
test_new.head(40)

                Account X date X PID        acc_id       date   pid  Prediction
0   256787571627 X 2020-02-23 X BN7D  256787571627 2020-02-23  BN7D    0.033221
1   256789598703 X 2020-02-23 X BN7D  256789598703 2020-02-23  BN7D    0.082782
2   256753510223 X 2020-02-23 X BN7D  256753510223 2020-02-23  BN7D    0.082782
3   256702652564 X 2020-02-23 X BN7D  256702652564 2020-02-23  BN7D    0.889961
4   256704005298 X 2020-02-23 X BN7D  256704005298 2020-02-23  BN7D    0.095299
5   256701433663 X 2020-02-23 X BN7D  256701433663 2020-02-23  BN7D    0.601457
6   256785958670 X 2020-02-23 X BN7D  256785958670 2020-02-23  BN7D    0.119756
7   256700671048 X 2020-02-23 X BN7D  256700671048 2020-02-23  BN7D    0.033221
8   256704708797 X 2020-02-23 X BN7D  256704708797 2020-02-23  BN7D    0.656592
9   256774747834 X 2020-02-23 X BN7D  256774747834 2020-02-23  BN7D    0.119756
10  256751695837 X 2020-02-23 X BN7D  256751695837 2020-02-23  BN7D    0.344327
11  256773741426 X 2020-02-23 X BN7D  256773741426 2020-02-23  BN7D    0.033221
12  256773668705 X 2020-02-23 X BN7D  256773668705 2020-02-23  BN7D    0.795763
13  256772196995 X 2020-02-23 X BN7D  256772196995 2020-02-23  BN7D    0.284021
14  256789155505 X 2020-02-23 X BN7D  256789155505 2020-02-23  BN7D    0.033221
15  256774568597 X 2020-02-23 X BN7D  256774568597 2020-02-23  BN7D    0.095299
16  256751184775 X 2020-02-23 X BN7D  256751184775 2020-02-23  BN7D    0.082782
17  256704903268 X 2020-02-23 X BN7D  256704903268 2020-02-23  BN7D    0.227589
18  256701972279 X 2020-02-23 X BN7D  256701972279 2020-02-23  BN7D    0.306669
19  256701950144 X 2020-02-23 X BN7D  256701950144 2020-02-23  BN7D    0.033221
20  256783473203 X 2020-02-23 X BN7D  256783473203 2020-02-23  BN7D    0.306669
21  256770758724 X 2020-02-23 X BN7D  256770758724 2020-02-23  BN7D    0.033221
22  256756400821 X 2020-02-23 X BN7D  256756400821 2020-02-23  BN7D    0.227589
23  256702173540 X 2020-02-23 X BN7D  256702173540 2020-02-23  BN7D    0.119756
24  256779600475 X 2020-02-23 X BN7D  256779600475 2020-02-23  BN7D    0.119756
25  256782454152 X 2020-02-23 X BN7D  256782454152 2020-02-23  BN7D    0.119756
26  256000000000 X 2020-02-23 X BN7D  256000000000 2020-02-23  BN7D    0.889961
27  256312290313 X 2020-02-23 X BN7D  256312290313 2020-02-23  BN7D    0.284021
28  256781089523 X 2020-02-23 X BN7D  256781089523 2020-02-23  BN7D    0.795763
29  256775875248 X 2020-02-23 X BN7D  256775875248 2020-02-23  BN7D    0.095299
30  256771615194 X 2020-02-23 X BN7D  256771615194 2020-02-23  BN7D    0.284021
31  256775562533 X 2020-02-23 X BN7D  256775562533 2020-02-23  BN7D    0.119756
32  256702433638 X 2020-02-23 X BN7D  256702433638 2020-02-23  BN7D    0.082782
33  256701592815 X 2020-02-23 X BN7D  256701592815 2020-02-23  BN7D    0.656592
34  256773743973 X 2020-02-23 X BN7D  256773743973 2020-02-23  BN7D    0.082782
35  256784673753 X 2020-02-23 X BN7D  256784673753 2020-02-23  BN7D    0.306669
36  256777714302 X 2020-02-23 X BN7D  256777714302 2020-02-23  BN7D    0.095299
37  256706742135 X 2020-02-23 X BN7D  256706742135 2020-02-23  BN7D    0.082782
38  256779848081 X 2020-02-23 X BN7D  256779848081 2020-02-23  BN7D    0.119756
39  256772553060 X 2020-02-23 X BN7D  256772553060 2020-02-23  BN7D    0.810041

In [52]:
test_new['Prediction'] = (test_new['Prediction']>0.05).astype(int)
test_new.head(25)

                Account X date X PID        acc_id       date   pid  Prediction
0   256787571627 X 2020-02-23 X BN7D  256787571627 2020-02-23  BN7D           0
1   256789598703 X 2020-02-23 X BN7D  256789598703 2020-02-23  BN7D           1
2   256753510223 X 2020-02-23 X BN7D  256753510223 2020-02-23  BN7D           1
3   256702652564 X 2020-02-23 X BN7D  256702652564 2020-02-23  BN7D           1
4   256704005298 X 2020-02-23 X BN7D  256704005298 2020-02-23  BN7D           1
5   256701433663 X 2020-02-23 X BN7D  256701433663 2020-02-23  BN7D           1
6   256785958670 X 2020-02-23 X BN7D  256785958670 2020-02-23  BN7D           1
7   256700671048 X 2020-02-23 X BN7D  256700671048 2020-02-23  BN7D           0
8   256704708797 X 2020-02-23 X BN7D  256704708797 2020-02-23  BN7D           1
9   256774747834 X 2020-02-23 X BN7D  256774747834 2020-02-23  BN7D           1
10  256751695837 X 2020-02-23 X BN7D  256751695837 2020-02-23  BN7D           1
11  256773741426 X 2020-02-23 X BN7D  256773741426 2020-02-23  BN7D           0
12  256773668705 X 2020-02-23 X BN7D  256773668705 2020-02-23  BN7D           1
13  256772196995 X 2020-02-23 X BN7D  256772196995 2020-02-23  BN7D           1
14  256789155505 X 2020-02-23 X BN7D  256789155505 2020-02-23  BN7D           0
15  256774568597 X 2020-02-23 X BN7D  256774568597 2020-02-23  BN7D           1
16  256751184775 X 2020-02-23 X BN7D  256751184775 2020-02-23  BN7D           1
17  256704903268 X 2020-02-23 X BN7D  256704903268 2020-02-23  BN7D           1
18  256701972279 X 2020-02-23 X BN7D  256701972279 2020-02-23  BN7D           1
19  256701950144 X 2020-02-23 X BN7D  256701950144 2020-02-23  BN7D           0
20  256783473203 X 2020-02-23 X BN7D  256783473203 2020-02-23  BN7D           1
21  256770758724 X 2020-02-23 X BN7D  256770758724 2020-02-23  BN7D           0
22  256756400821 X 2020-02-23 X BN7D  256756400821 2020-02-23  BN7D           1
23  256702173540 X 2020-02-23 X BN7D  256702173540 2020-02-23  BN7D           1
24  256779600475 X 2020-02-23 X BN7D  256779600475 2020-02-23  BN7D           1

In [45]:
from google.colab import drive
drive.mount('/content/drive')

%cd 'drive/My Drive/UmojaLambda'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
/content/drive/My Drive/UmojaLambda

In [0]:
#make submission
test_new[['Account X date X PID', 'Prediction']].to_csv('final_notebook_new.csv', index=False)